<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner App</title>
  </head>
  <body>
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <section>
        <form class="form" onsubmit="return Client.addTrip(event)">
          <input id='loc' type='text' name='input-city' value='' placeholder='Destination' required>
          <input id='date' type='date' name='input-date' value='' required>
          <input id='submitbtn' type="submit" name="submit" value="Save Trip">
        </form>
      </section>
      <section id='no-data'>
        <h2> Add a trip! </h2>
      </section>
      <section>
        <div id='results'></div>
      </section>
    </main>
    <footer>
      <p>&copy Ryan Graham</p>
    </footer>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js').then(registration => {
            console.log('SW registered successfuly: ', registration);
          });
      });
      }else{
      console.log("Service Working not supported");
          }
</script>
  </body>
</html>
