<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner App</title>
  </head>
  <body>
    <header>
      <h1>Travel Planner</h1>
    </header>
  </body>
  <main>
    <div id='errors'></div>
    <section>
      <form class="" onsubmit="return Client.hadleSubmit(event)">
        <input id='loc' type='text' name='input-city' value='' placeholder='Destination' required>
        <input id='date' type='date' name='input-date' value='' placeholder='yyyy-mm-dd' required>
        <input type="submit" name="" value="Save Trip" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
      </form>
    </section>
    <section id='no-data'>
      <h2> No saved trips </h2>
    </section>
    <section>
      <div id= results></div>
    </section>
  </main>
  <footer>
    <p>&copy Ryan Graham</p>
  </footer>
</html>
